@model Core.Doan_QuanAn

@{
    ViewBag.Title = "ThemChiPhi_Doan_CPQA";
}

<h2>Thêm Chi Phí Quán Ăn</h2>

<script type="text/javascript">

    window.onload = function () {
        var dynamicId = 0;
        $('#btnThem').click(function () {
            dynamicId += 1
            $('#chitiet').append(
                "<tr>" +
                "<td>" + $('#TenQA').val() + "</td>" +
                "<td>" + $('#MaDD').text() + "</td>" +
                "<td>" + $('#Gia').val() + "</td>" +
                "<td>" + $('#Ghichu').val() + "</td>" +
                '<td><input type="hidden" class="form-control" id = "TenQA" value="' + $('#TenQA').val() + '" name="cpqa[' + (dynamicId - 1) + '].TenQA"/></td>' +
                '<td><input type="hidden" class="form-control" id = "MaDD" value="' + $('#MaDD').val() + '"name="cpqa[' + (dynamicId - 1) + '].MaDD"/></td>' +
                '<td><input type="hidden" class="form-control" id = "Gia" value="' + $('#Gia').val() + '"name="cpqa[' + (dynamicId - 1) + '].Gia"/></td>' +
                '<td><input type="hidden" class="form-control" id = "GhiChu" value="' + $('#GhiChu').val() + '"name="cpqa[' + (dynamicId - 1) + '].GhiChu"/></td>' +
                '<td><button class="btn btn-danger btnXoa">Xóa</button></td>' +
                '<input type="hidden" name="cpqa.Index" value="' + (dynamicId - 1) + '" />' +
                '<input type="hidden" name="cpqa[' + (dynamicId - 1) + '].MaDoan" value="' + $('#MaDoan').val() + '" />' +
                "</tr>"
            )
        });

        $("#chitiet").on('click', '.btn.btn-danger.btnXoa', function () {
            $(this).closest('tr').find("input[type='hidden']").remove();
            $(this).closest('tr').remove();
        });

    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenQA, "Tên quán ăn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="TenKS" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DiaDiem, "Địa điểm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaDD", null, htmlAttributes: new { @class = "form-control", @id = "MaDD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gia, "Giá", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" class="form-control" id="Gia" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gia, "Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="GhiChu" />
            </div>
        </div>
        <input type="hidden" value="@ViewBag.MaDoan" name="cpqa.MaDoan" id="MaDoan" />
        <input type="hidden" value="@ViewBag.MaDoan" name="MaDoan" />
        <input type="button" class="btn btn-default" value="Thêm" id="btnThem" />
    </div>

    <table class="table" id="chitiet">
        <tr>
            <th>Tên quán ăn</th>
            <th>Địa điểm</th>
            <th>Giá</th>
            <th>Ghi chú</th>
            <th></th>
        </tr>
    </table>
    <div class="form-group" style="text-align: center">
        <input type="submit" value="Lưu" class="btn btn-primary" id="test" />
    </div>
}
