@model WebApp.Models.ThongKeChiPhiViewModel

@{
    ViewBag.Title = "Details_Doan_CPPT";
}

<h2>Chi Tiết CPKS Đoàn @Html.DisplayFor(model => model.CTDoan.Doan.Ten)</h2>
<h4>Số Lượng Khách: @Html.DisplayFor(model => model.CTDoan.Doan.SLKhach)</h4>
<h4>Số Lượng Nhân Viên: @Html.DisplayFor(model => model.CTDoan.Doan.SLNV)</h4>
<h4>Trưởng Đoàn: @Html.DisplayFor(model => model.CTDoan.Doan.NhanVien.HoTen)</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên Phương Tiện")
        </th>
        <th>
            @Html.DisplayName("Giá")
        </th>
        <th>
            @Html.DisplayName("Ghi Chú")
        </th>
    </tr>

    @if (Model.Doan_PhuongTien != null)
    {
        foreach (var item in Model.Doan_PhuongTien)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenPT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
            </tr>
        }
    }
</table>
<hr />
<p>Tổng Chi Phí Phương Tiện: @Html.DisplayFor(model => model.CTDoan.TongCPPT)</p>
