@model IEnumerable<Core.CTDoan>

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Mã Tour</h2>
<h4>Danh Sách Đoàn</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tên Đoàn")
        </th>
        <th>
            @Html.DisplayName("Số Lượng Khách")
        </th>
        <th>
            @Html.DisplayName("Số Lượng Nhân Viên")
        </th>
        <th>
            @Html.DisplayName("Trưởng Đoàn")
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLKhach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SLNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details_CTDoan", new { MaDoan = item.MaDoan})
                </td>
            </tr>
        }
    }
</table>